/* body{
    background-color: rgb(217, 217, 253);
    color: rgb(255, 191, 0);
}
#first{
    color: brown;
} */
div~p{
    background-color: #ea9d9d;: bisque;
}
p:hover{
    background-color: violet;
}
p::before{
    background-color: #5e3c3c;
content: byy;
}
p::after{
    background-color: #565931;
    content: kddk;
}